lib-cov
coverage
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.[t]gz

dist
pids
logs
results
demo
bower.json
node_modules
.parcel-cache
.idea
npm-debug.log
.DS_STORE
pnpm-lock.yaml

test/output
browserstack.err
.tscache
test/public
.vscode/
