<!DOCTYPE HTML> 
<html lang="en"> 
<head> 
<title></title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 
<meta name="description" content=""> 
<meta name="keywords" content=""> 
 
 
<link href="/css/style.css" rel="stylesheet" type="text/css"> 

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> 
<script type="text/javascript" src="/js/server.js"></script>
<script type="text/javascript" src="/js/client.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

</head> 
 
<body> 
<%-body%>
</body> 
</html> 
