.edited{
    color: #0088cc;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow > hr {
    margin: 10px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 20px 0;
}

.marketing p + h4 {
    margin-top: 20px;
}

.scr {
    overflow: scroll;
    height: 300px;
}