body, html {
  font-size: 14px;
  font-family: "Lato", Helvetica, sans-serif;
  color: #454545;
  text-shadow: 0px -1px 0 rgba(255,255,255,0.6);
}

.api, .start {
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow: scroll;
  box-sizing: border-box;
  padding: 20px;
}

.start {
  right: 0px;
  width: 60%;
  background-color: #fff;
}

.api {
  left: 0px;
  width: 40%;
  border-right: 1px solid #ccc;
  background-color: #f5f5f5;
}

.child {
  padding: 5px 0 5px 15px;
}

.bracket {
  color: #ccc;
}

.toplevel {
  padding-top: 12px;
}

.toplevel > .children > .child {
  padding-right: 15px;
}

.children {
  border-left: 1px dashed #ccc;
}

.beta .children {
  border-left: 1px dashed #E96151;
}

.api div p {
  margin: 0 0 5px 0;
}

.child:hover {
  background-color: #fff;
}

/** Label stylings */
.tag {
  display: inline-block;
  background-color: #454545;
  border-radius: 2px;
  color: #fff;
  line-height: 11px;
  padding: 1px 2px;
  margin-left: 5px;
  font-size: 9px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid rgba(0,0,0,0.2);
  text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
}

.tag.type {
  background-color: #757E2B;
}

.tag.beta {
  background-color: #E96151;
}

.tag.method {
  background-color: #E2A62E;
}

.tag.class, .tag.constructor {
  background-color: #454545;
}

.tag.event {
  background-color: #1295D8;
}

.toplevel > .name {
  font-size: 20px;
}

/** /Label stylings */

.api .snippet {
  font: 12px Courier;
  display: inline-block;
  background-color: #fff;
  padding: 5px 10px;
  margin: 5px 0 0 5px;
}

.api .name {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}

.api .code {
  font-family: Courier;
}

.tip {
  background-color: #454545;
  font-size: 12px;
  border-radius: 2px;
  padding: 8px;
  color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
}

#peer-options-debug .child {
  padding: 0 15px;
}

#peer-options-debug .child .description {
  display: inline-block;
  margin-left: 10px;
}
