body, html {
  font: 14px Helvetica;
  color: #454545;
  text-shadow: 0px -1px 0 rgba(255,255,255,0.6);
}

.api, .start {
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow: scroll;
  box-sizing: border-box;
  padding: 20px;
}

.start {
  right: 0px;
  width: 60%;
  background-color: #fff;
}

.api {
  left: 0px;
  width: 40%;
  border-right: 1px solid #ccc;
  background-color: #f5f5f5;
}

.child {
  padding: 8px 0 8px 15px;
}

.toplevel .children > .child {
  padding-right: 15px;
}

.children {
  border-left: 1px dashed #ccc;
}

.api div p {
  margin: 0 0 5px 0;
}

.child:hover {
  background-color: #fff;
}

/** Label stylings */
.api .type {
  display: inline-block;
  background-color: #454545;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.2);
  color: #fff;
  line-height: 11px;
  padding: 1px 2px;
  margin-left: 5px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
  background-color: #757E2B;
}

.toplevel > .name {
  font-size: 20px;
}

/** /Label stylings */

.api .snippet {
  font: 12px Courier;
  display: inline-block;
  background-color: #fff;
  padding: 5px 10px;
  margin-left: 5px;
}

.api .name {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}

.api .code {
  font-family: Courier;
}

.tip {
  background-color: #333;
  font-size: 12px;
  padding: 10px;
  color: #fff;
}
