body, html {
  font-size: 14px;
  line-height: 22px;
  font-family: "Lato", Helvetica, sans-serif;
  color: #454545;
}

.api h2 {
  color: #E2A62E;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  margin: 0 0 10px 0;
  padding: 5px 20px;
  background-color: #50484e;
}

.api, .start {
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow: scroll;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.start {
  width: 55%;
  right: 0px;
  background-color: #f9f9f9;
  text-shadow: 0px -1px 0 rgba(255,255,255,0.6);
}

.api {
  color: #f5eff3;
  font-weight: 300;
  left: 0px;
  width: 45%;
  border-right: 4px solid #50484e;
  background-color: #5a5157;
  text-shadow: 0px -1px 0 #474045;
}

.child {
  padding: 5px 0 5px 12px;
}

.bracket {
  font-weight: 800;
  display: inline-block;
  margin: 0 2px;
  color: rgba(255,255,255,0.2);
}

.toplevel {
  padding: 10px 20px;
}

.toplevel > .children > .child {
  padding-right: 5px;
}

.children {
  border-left: 1px dashed rgba(255,255,255,0.2);
}

.beta_030 .children {
  border-left: 1px dashed #E96151;
}

.api div p {
  margin: 0 0 5px 0;
}

.child:hover {
  background-color: #635960;
}

/** Label stylings */
.tag {
  display: inline-block;
  background-color: #454545;
  border-radius: 2px;
  color: rgba(255,255,255,0.8);
  line-height: 11px;
  padding: 1px 2px;
  margin-left: 5px;
  font-size: 9px;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: "Lato", Helvetica, sans-serif;
  text-transform: uppercase;
  border: 1px solid rgba(0,0,0,0.4);
  text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
}

.tag.type {
  background-color: #757E2B;
}

.tag.beta_030 {
  background-color: #E96151;
}

.tag.method, .tag.function {
  background-color: #E2A62E;
}

.tag.class, .tag.constructor, .tag.utility {
  background-color: #468F81;
}

.tag.error {
  background-color: #8F4537;
}

.tag.event {
  background-color: #1295D8;
}

.api a {
  color: #1295D8;
  transition: color 200ms;
}

.api a:hover {
  color: #33a2dc;
}

.toplevel > .name {
  font-size: 20px;
}

/** /Label stylings */

.api .snippet {
  color: #a2949d;
  border-left: 1px solid #40393e;
  border-top: 1px solid #40393e;
  border-right: 1px solid #6b666a;
  border-bottom: 1px solid #6b666a;
  text-shadow: 0 -1px 0 #393438;
  font-size: 12px;
  font-family: Consolas, Inconsolata, 'Bitstream Vera Sans Mono', Menlo, Monaco, 'Andale Mono', 'Courier New', monospace;
  font-weight: 400;
  display: inline-block;
  background-color: #474045;
  padding: 3px 8px;
  margin: 5px 0 0 10px;
}

/* We want to be able to use the names as an anchor. */
.api .name {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}

.name a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: color 300ms;
}

.name a:hover {
  color: #e7e0e5;
}
/* /name */

.tip {
  opacity: 0.9;
  display: block;
  background-color: #d1c7be;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  border-radius: 2px;
  padding: 5px 8px;
  color: #544e4a;
  border: 1px solid #544e4a;
  text-shadow: 0px -1px 0px rgba(255,255,255,0.2);
  margin: 8px 0 0 0;
}

#peer-options-debug .child {
  padding: 0 15px;
}

#peer-options-debug .child .description {
  display: inline-block;
  margin-left: 10px;
}

.api code {
  font-family: Consolas, Inconsolata, 'Bitstream Vera Sans Mono', Menlo, Monaco, 'Andale Mono', 'Courier New', monospace;
  border-radius: 2px;
  border: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.1);
  font-size: 12px;
  padding: 2px;
,}
